{% extends 'base.html' %}
{% load static%}

{% block content %}

        <div  style="position: absolute;
        inset: 0 0 0 0;
        margin: auto auto;
        /* height: auto; */
        height: max-content;
        max-width: 900px;">
          <div class="card border-light mb-3" >
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white profile-detail-img-container">
                
                {% if user.imagen_perfil %}
                  <img src="{{user.imagen_perfil.url}}" alt="Avatar" class="img-fluid my-5" />
                {% else %}
                  <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar" class="img-fluid my-5"/>
                {% endif %}
                                 
                
              </div>
              <div class="col-md-8">
                <div class="card-header">
                  <h5>{{user.first_name}} {{user.last_name}} </h5>
                  <h6>Información</h6>
                </div>  
                <div class="card-body p-4">
                  
                  <div class="row pt-1">
                    
                      <h6>Email</h6>
                      <p class="text-muted">{{user.email}}</p>
                    
                      <h6>Teléfono</h6>
                      <p class="text-muted">{{user.telefono}}</p>
                    
                      <h6>Domicilio</h6>
                      <p class="text-muted">{{user.domicilio}}</p>
                      
                  </div>
                  
                </div>
              </div>
            </div>

            <a href="{% url 'editar-perfil' pk=user.pk %}" class="far fa-edit text-success" style="position: absolute; margin: 1em; bottom: 0; right: 0;"></a>
          </div>
        </div>


{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
