:root{
    --warning: #dc3545;
}

form.form-eliminar, form.form-crear{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    gap: 1em;
}

form button{
    width: min-content;
    margin: 1em 0 1em auto;
}

form h1{
    margin-block: 0.5em;
}


#container{
    padding-top: 1em;
    min-height: calc(100vh - 176px) !important;
}


form.form-eliminar{
    position: absolute;
    inset: 0 0 0 0;
    margin: auto auto;
    height: fit-content;
}

.fw-bolder{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.lead.mb-0{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.link-icon{
    height: 2.5em;
    padding: 0.5em;
    border-radius: 50%;
    border-width: 5px;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.errorlist.nonfield{
    padding-left: 0;
    list-style: none;
}

ul.errorlist.nonfield li{
    color: var(--bs-white);
    background-color: var(--bs-form-invalid-color);
    padding: 0.5em;
    border-radius: 0.25rem;
}

div.card form{
    width: auto;
    margin: 1em;
}

footer{
    margin-top: 5em;
}

form.d-flex{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

form.form-filtrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 1em;
}

.card-img-top{
    aspect-ratio: 16/9;
}


.helptext{
    color: var(--bs-warning);
}

.errorlist{
    color: var(--bs-danger);
}

.card-tags-container{
    margin-bottom: 1em;
}

.badge{
    display: inline-flex;
    gap: 0.65em;
}

.messages{
    list-style: none;
}

button{
    display: inline-flex;
}