{% load static %}


<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog juegos - Grupo 5</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/gamepad-solid.svg' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>


    <body>
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog Juegos</font></font></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                  {% if user.is_authenticated %}
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.username}}</font></font></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></a>
                        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Otra acción</font></font></a>
                        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">algo mas aqui</font></font></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cerrar sesión</font></font></a>
                      </div>
                    </li>
                  {% else %}

                    <li class="nav-item"><a class="nav-link" href=""></a></li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'login' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Iniciar Sesion
                        </font></font><span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span>
                      </a>
                    </li>
                  {% endif %}

                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Posts</font></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nosotros</font></font></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'form_contacto' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contacto</font></font></a>
                  </li>
                 
                  
                </ul>
                <form class="d-flex" action="{% url 'buscar_post' %}">
                  <input class="form-control me-sm-2" type="search" placeholder="Buscar" name="q">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buscar</font></font></button>
                </form>
              </div>
            </div>
          </nav>


      


        <!-- Page header with logo and tagline-->
        
       
                     
      

        <!-- Page content-->
        <div class="container" id="container">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </li>
        
            {% endfor %}
          </ul>
          {% endif %}
            
                
            <div class="row">
          
        
          {% block content %}
            
          {% endblock content %}
            
            
            {% block sidebar %}
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card border-light mb-4">
                        <div class="card-header">Buscar</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Busca algo..." aria-label="Busca algo..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Ir!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->

                    
                    {% if categorias %}
                      
                    
                      
                    <div class="card border-light mb-4">
                        <div class="card-header">Categorías</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">

                                         
                                      
                                     {% for categoria in categorias  %}
                                        {% if forloop.counter <= mitad_lista %}
                                          <li><a href="{% url 'posts' %}?categoria={{ categoria.id }}">{{categoria.nombre}}</a></li>
                                        {% endif %}
                                      {% endfor %} 
                                      
                                     </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                      {% for categoria in categorias  %}
                                        {% if forloop.counter > mitad_lista %}
                                          <li><a href="{% url 'posts' %}?categoria={{ categoria.id }}">{{categoria.nombre}}</a></li>
                                        {% endif %}
                                      {% endfor %}
                                        
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <!-- Side widget-->
                    {% if comentarios %}

                    <div class="card border-light mb-4">
                        <div class="card-header">De que se está hablando</div>

                        <ul class="list-group">

                          {% for comentario in comentarios %}
                          
                          <li class="list-group-item">
                              
                              <p><strong>@{{comentario.creador.username}}</strong> comentó: {{comentario.texto}} en <a href="{% url 'detalle_post' comentario.publicacion.id %}">{{comentario.publicacion.titulo}}</a></p>
                              
                          </li>
                          {% endfor %}
                              
                          
              
                        </ul>
                        

                    </div>

                    {% endif %}

                    
                </div>
                {% endblock sidebar %}
            
                </div>
            
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Informatorio - Desarrollo Web - Grupo 5 - 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'></script>
        
        <!-- Core theme JS-->
        <!-- 
          
        -->
        <script src="{% static 'js/scripts.js' %}"></script>
        
    </body>
</html>

