{% extends 'base.html' %}
{% load static %}



{% block content %}
    <header class="py-5 btn-outline-light bg-light border-bottom mb-4" style="
    background: no-repeat url(https://i.pinimg.com/originals/5e/e0/db/5ee0db8d35ff458eafc0455d1bd9c725.jpg); 
    background-size: cover;
    background-position: 50% 48%;">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Bienvenido a Blog Juegos!</h1>
                <p class="lead mb-0">Un blog de videojuegos</p>
            </div>
        </div>
    </header>
      <!-- Blog entries-->
      <div class="col-lg-8">
        <h1>Lo último</h1>
        <!-- Featured blog post-->

        
        {% if ultimos_posts %}
            
        
            
        <div class="card border-light mb-4">

            {% if ultimos_posts.0.imagen %}
            <img src="{{ ultimos_posts.0.imagen.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'images/abstract_digital-gamepad-sl-800x450.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
            
            <div class="card-body">
                <div class="small text-muted">{{ultimos_posts.0.fecha}}</div>
                <h2 class="card-title">{{ultimos_posts.0.titulo}}</h2>
                <p class="card-text" style="display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;">{{ultimos_posts.0.cuerpo}}</p>
                <a class="btn btn-primary" href="{% url 'detalle_post' ultimos_posts.0.id %}">Leer más →</a>
            </div>
        </div>

        <!-- Nested row for non-featured blog posts-->
        <div class="row">
                <!-- Blog post-->

                
                {% for post in ultimos_posts|slice:"1:" %}
                    
                <div class="col-lg-4">
                        
                    <div class="card border-light mb-4">

                        {% if post.imagen %}
                            <img src="{{ post.imagen.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'images/abstract_digital-gamepad-sl-800x450.jpg' %}" class="card-img-top" alt="...">
                        {% endif %}

                        <div class="card-body">
                            <div class="small text-muted">{{post.fecha}}</div>
                            <h2 class="card-title h4">{{post.titulo}}</h2>
                            <p class="card-text" style="  display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;">{{post.cuerpo}}</p>
                            <a class="btn btn-primary" href="{% url 'detalle_post' post.id %}">Leer más →</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
                
            
        </div>
        


        {% else %}

        <h1 class="text-danger" style="width: 100%; text-align: center; margin-block: 3em;">Ups! Parece que no hay nada aquí...</h1>

        {% endif %}
    </div>





{% endblock content %}
    