{% extends '../base.html' %}
{% load static %}


{% block content %}


<div class="col-lg-12" >
    
    <div style="display: flex; width: 100%; margin-bottom: 1.5em; align-items: center;">

            <h1>Resultados de búsqueda</h1>
        
            
                
        
    </div>

    
        
    
    
    
    <div class="row">
        
    {% if posts|length %}

        {% for post in posts %}
    
        <div class="col-lg-4">
            <div class="card border-light mb-4">
                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{% static 'images/abstract_digital-gamepad-sl-800x450.jpg' %}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <div class="small text-muted">{{post.fecha}}</div>
                    <h2 class="card-title h4">{{post.titulo}}</h2>
                    <p class="card-text" style="display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;">{{post.cuerpo}}</p>

                    
                    <div class="card-text card-tags-container"><span class="badge bg-secondary"><i class="fa-solid fa-layer-group"></i>{{post.categoria}}</span> </div>

                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <a class="btn btn-primary" href="{% url 'detalle_post' post.id %}">Leer más →</a>
                    
                
                        {% if post.creador == user or user.is_superuser %}
                            <div style="display: flex;">
                                <a href="{% url 'eliminar_post' post.id %}" class="link-icon text-danger"><i class="fa-solid fa-trash"></i></a>
                                <a href="{% url 'editar_post' post.id %}" class="link-icon text-success"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                        {% endif %}
                            
                       
                    </div>                    
                    
                </div>

            </div>
        </div>
    

        {% endfor %}

    {% else %}

        <h1 class="text-danger" style="text-align: center;">No se encontraron coincidencias</h1>
            
    {% endif %}
            
    
</div>


{% block sidebar %}
    
{% endblock sidebar %}
    

</div>
{% endblock content %}
    