{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-2"></div>
<div class="col-lg-8" >

    <div class="card border-light mb-4">
        
        {% if post.imagen %}
        <a href="#!"><img class="card-img-top" src="{{ post.imagen.url}}" alt="..."></a>
        {% else %}
        <a href="#!"><img class="card-img-top" src="{% static 'images/abstract_digital-gamepad-sl-800x450.jpg' %}" alt="..."></a>
        {% endif %}
            
        
        <div class="card-body">
            <div class="small text-muted">{{post.fecha}} por @{{post.creador.username}}</div>
            <h1 class="card-title">{{post.titulo}}</h1>
            <p class="card-text">{{post.cuerpo}}</p>
            
        </div>
    </div>

    <div class="card border-light mb-4">

        
        {% if user.is_authenticated %}
            <div class="card-header">Comenta algo</div>
            <form method="post"> {% csrf_token %}
                {{form}}
        
                <button type="submit" class="btn btn-primary">Comentar!</button>
        
            </form>
        {% else %}

            <div style="padding: 1em 2em; display: flex; align-items: center; justify-content: center;">
                <a href="{% url 'login' %}" ><button class="btn btn-secondary">Inicia sesión para comentar</button></a>
            </div>


        {% endif %}
            

        
    </div>
    

    <!--Caja de Comentarios-->
    <div class="card border-light">
        <div class="card-header">
        Comentarios ({{post.comentarios.all|length}})
        </div>
        <ul class="list-group list-group-flush">


            {% if post.comentarios.all%}

            {% for comentario in post.comentarios.all %}
            
            <li class="list-group-item">
                
                <p><strong>@{{comentario.creador.username}}</strong> dijo:</p>
                {{comentario.texto}}

                
                
                
                {% if comentario.creador == user or comentario.publicacion.creador == user or user.is_superuser %}
                    <div style="display: flex; gap: 1em; justify-content: end;">
                        
                        <a href="{% url 'borrar_comentario' comentario.id %}" class="link-icon text-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="{% url 'editar_comentario' comentario.id %}" class="link-icon text-success"><i class="fa-solid fa-pen-to-square"></i></a>
                    
                    </div>   
                {% endif %}
                    
                 

            </li>
            <hr class="hr"/>
            {% endfor %}
                
            {% else %}
                <li class="list-group-item" style="display: flex; align-items: center; justify-content: center;">
                    <p class="text-warning">Sé el primero en comentar este post!</p>
                </li>
            {% endif %}

        </ul>
    </div>

    
    {% block sidebar %}
        
    {% endblock sidebar %}
        

</div>
{% endblock content %}