{% extends '../base.html' %}
{% load static %}


{% block content %}

<div class="col-lg-8">
    <div class="row">
    {% for post in posts %}
    
        <div class="col-lg-4">
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{post.fecha}}</div>
                    <h2 class="card-title h4">{{post.titulo}}</h2>
                    <p class="card-text">{{post.cuerpo}}</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        </div>
    


    {% endfor %}
</div>
</div>
{% endblock content %}
    